.footer {
  background-color: #c48370;
  border-top: 1.5px solid #a87060;
  font-size: 17px;
  width: 100% vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 8px #957366;
}
.footerText {
  padding-left: 5px;
  padding-right: 5px;
  color: #f7ecdb;
  text-decoration: none;
}
