h1 {
  margin-bottom: 0px;
  text-align: center;
}
#links {
  color: #6e6f58;
  font-family: "Poiret One", cursive;
  height: 100vh;
  width: 100vw;
}
.LinkHREFS {
  text-decoration: none;
  text-align: center;
  color: #fbead0;
  padding: 10px;
  font-size: 30px;
}
.linktext {
  color: #bf8844;
  font-size: 30px;
  margin-top: 12px;
}
.linkDiv {
  display: flex;
  flex-direction: row;
}
