#skills {
  height: 100vh;
  width: 100vw;
}
i {
  font-size: 100px;
  color: #f3efe2;
  margin: 12px;
}
.icons {
  display: flex;
  flex-direction: row;
}
.awesomeFontIcons {
  display: flex;
  flex-direction: row;
}
.Iconimage {
  width: 100px;
  margin: 10px;
  margin-top: 25px;
}
.skillsText {
  color: #666453;
}
